{% extends "layout.html" %}
{% block body %}
  <h3>{{_('बारेमा')}} {{instance}}</h3>
<p>{{instance}} {{_('द्वारा प्रचालित')}}
<a href="https://github.com/janeczku/calibre-web" title="Calibre-Web">Calibre वेब</a>।
</p>
  <h3>{{_('पुस्तकालय सांख्यिकी')}}</h3>
<table id="stats" class="table">
  <tbody>
    <tr>
      <th>{{bookcounter}}</th>
      <td>{{_('यस पुस्तकालयमा पुस्तकहरू')}}</td>
    </tr>
    <tr>
      <th>{{authorcounter}}</th>
      <td>{{_('यस पुस्तकालयमा लेखकहरू')}}</td>
    </tr>
    <tr>
      <th>{{categorycounter}}</th>
      <td>{{_('यस पुस्तकालयमा श्रेणिहरू')}}</td>
    </tr>
    <tr>
      <th>{{seriecounter}}</th>
      <td>{{_('यस पुस्तकालयमा शृंखलाहरू')}}</td>
    </tr>
  </tbody>
</table>
{% if current_user.role_admin() %}
  <h3>{{_('प्रणाली सांख्यिकी')}}</h3>
<table id="libs" class="table">
  <thead>
    <tr>
      <th>{{_('कार्यक्रम')}}</th>
      <th>{{_('स्थापित संस्करण')}}</th>
    </tr>
  </thead>
  <tbody>
  {% for library,version in versions.items() %}
  {% if version %}
    <tr>
      <th>{{library}}</th>
      <td>{{version}}</td>
    </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
